# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Angular
.angular/
dist/
coverage/

# Cypress artefacts
cypress/videos/
cypress/screenshots/

# OS/Editor
.DS_Store
.vscode/