@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

/* Toasts (Angular Material SnackBar) */
.toast-success {
  --mdc-snackbar-container-color: #0adf19;
  --mdc-snackbar-supporting-text-color: #000000;
}

.toast-error {
  --mdc-snackbar-container-color: #ff4343;
  --mdc-snackbar-supporting-text-color: #000000;
}

.toast-info {
  --mdc-snackbar-container-color: #2e81ff;
  --mdc-snackbar-supporting-text-color: #000000;
}


/* ============================================================
  Dashboard - ByTato / Cafecito Feliz
  Paleta Café Cálido:
  - Primario: #4B3621
  - Fondo:    #F5F5DC
  - Acento:   #FFBF00
============================================================ */